* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #eee;
}

@-webkit-keyframes shake {
    0%, 100% {-webkit-transform: translateX(0);}
    10%, 40%, 70% {-webkit-transform: translateX(-7px);}
    30%, 60%, 90% {-webkit-transform: translateX(7px);}
}
@-moz-keyframes shake {
    0%, 100% {-moz-transform: translateX(0);}
    10%, 40%, 70% {-moz-transform: translateX(-7px);}
    30%, 60%, 90% {-moz-transform: translateX(7px);}
}
@keyframes shake {
    0%, 100% {transform: translateX(0);}
    10%, 40%, 70% {transform: translateX(-7px);}
    30%, 60%, 90% {transform: translateX(7px);}
}
.flash-error.shake {
    -webkit-animation: shake 0.7s;
    animation: shake 0.7s;
}

#startscreen label,
input[type=text] {
	font-size: 1.1em;
}

#wrapper {
	max-width: 525px;
	margin: 50px auto;
}

#cancel { 
	display: block; 
	margin-top: 30px;
}

h1 {
	margin-bottom: 40px;
	padding: 10px 0 30px;
	text-align: center;
	font-weight: 300;
	font-size: 3.5em;
	color: #D4145A;
	letter-spacing: 0.1em;
	border-bottom: 1px solid #ddd;
}

h1 em {
	color: #F7931E;
	text-decoration: underline;
	font-style: normal;
	font-weight: bold;
	letter-spacing: 0;
	font-family: Georgia, serif;
}

.flash-error { 
	position: relative;
	/*background-color: #f5f5f5;*/
	color: #e91830; 
	font-weight: bold;
}
.flash-error:not(:empty) {
	margin: 0 0 40px 0;
	padding: 10px 30px;
	border: 2px solid #e91830;
}

#startscreen label { 
	display: block; 
	font-style: italic;
	color: #D4145A;
}

input[type=text] {
	width: 100%;
	margin: 15px 0 30px;
	padding: 10px 7px;
	border: 0;
	color: #777;
	box-shadow: 2px 2px 1px #aaa;
}

#go {
	width: 100%;
	padding: 2px 0;
	border: 1px solid #ddd;
	background-color: #F7931E;
	color: #fff;
	font-size: 1.5em;
}
#go:hover,
#go:focus,
#go:active {
	background-color: #f38709;
}

.info {
	display: inline-block;
	margin: 30px 0 15px;
	padding-left: 20px;
	font-size: .9em;
	font-family: arial, sans-serif;
	text-decoration: none;
	color: #777;
	background: url(../img/plus.png) no-repeat scroll 0 3px transparent;
}
.details {
	display: none;
	padding: 6px 12px;
	background-color: #fff;
	border-radius: 5px;
	line-height: 1.5em;
	color: #777;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.details.active {
	display: block;
}

/*----- Countdown -----*/

@-webkit-keyframes progress-bar-stripes {
	0% { background-position: 0 0; }
	100% { background-position: 52px 0; }
}
@-moz-keyframes progress-bar-stripes {
	0% { background-position: 0 0; }
	100% { background-position: 52px 0; }
}
@keyframes progress-bar-stripes {
	0% { background-position: 0 0; }
	100% { background-position: 52px 0; }
}

#progress-outer {
	overflow: hidden;
	margin-bottom: 60px;
	border: 1px solid #dadada;
	background-color: #f2f2f2;

	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
	border-radius: 4px;
}

#progress-bar {
	float: right;
	height: 52px;
	width: 100%;

	background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
	background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
    background-size: 52px 52px;

	-webkit-transition: width 0.6s ease 0s;
	transition: width 0.6s ease 0s;

	-webkit-animation: 2s linear 0s normal none infinite progress-bar-stripes;
    animation: 2s linear 0s normal none infinite progress-bar-stripes;
}

#timer {
	display: block;
	margin-bottom: 30px;
	font-size: 3.6em;
	font-weight: 300;

	text-align: center;
	letter-spacing: 0.1em;
}

#goal-outer {
	display: block;
}

#goal {
	display: inline-block;
	margin: 30px 0 60px 15px;
	padding: 7px;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	letter-spacing: 0.1em;
	color: #2ecc71;
	background-color: #fbfbfb;
	border-radius: 7px;

	-webkit-box-shadow: -2px 2px 2px #ccc;
	box-shadow: -2px 2px 2px #ccc;

	-webkit-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
	-ms-transform: rotate(-2deg);
	transform: rotate(-2deg);
}

/*#trigger { margin-top: 30px; }*/

#cancel {
	padding: 3px 9px;
	border: 1px solid #ddd;
	background-color: #F7931E;
	color: #fff;
}
#cancel:hover,
#cancel:focus,
#cancel:active {
	background-color: #f38709;
}


/*----- Timepicker -----*/

.timepicker {
	width: 275px;
	margin: 20px auto;
	font-family: arial, sans-serif;
}

.timepicker .tag {
	padding: 7px 0;
	text-align: center;
	color: #D4145A;
}

.timepicker .hours,
.timepicker .mins,
.timepicker .colon,
.timepicker .digit-wrapper {
	display: inline-block;
}

.timepicker .digit-wrapper + .digit-wrapper {
	margin-left: -5px;
}

.timepicker .arrow {
	padding: 1px;
	background-color: #D4145A;
	cursor: pointer;
}

.timepicker .increase,
.timepicker .decrease {
	width: 0; 
	height: 0; 
	margin: 10px auto;
	border-left: 17px solid transparent;
	border-right: 17px solid transparent;
}
.timepicker .increase { border-bottom: 12px solid #f48db3; }
.timepicker .decrease { border-top: 12px solid #f48db3; }

.timepicker .digit {
	width: 60px;
	height: 80px;
	font-size: 2.7em;
	text-align: center;
	line-height: 80px;
	background-color: #D4145A;
	color: #fff;
}

.timepicker .colon {
	width: 25px;
	height: 135px;
	font-size: 2.7em;
	vertical-align: bottom;
	text-align: center;
	color: #D4145A;
}


/*----- Results Pages -----*/

#result {
	margin: 0;
}

#result header a {
	display: inline-block;
	margin: 15px;
	background-color: #f7931e;
	border: 1px solid #dddddd;
	text-decoration: none;
	color: #ffffff;
	font-size: 1.5em;
	padding: 5px 9px;
}

#result article {
	max-width: 1000px;
	margin: 40px auto;
	padding: 0.25em 0.5em;
	background-color: #fff;
	border-radius: 5px;
}

#result em {
	color: inherit;
	font-weight: 300;
	text-decoration: none;
	font-style: italic;
}

#result h1 {
	border: 0;
	margin: 19px 0;
	padding: 0;
	font-size: 2.7em;
}
#result h2, h3, h4, h5, h6 {
	color: #d4145a;
    font-weight: 300;
    letter-spacing: 0.1em;
	text-align: center;
}

#result img {
	display: block;
	margin: 40px auto;
	max-width: 960px;
	width: 100%;
}


@media screen and (max-width: 525px) {

	h1 {
		font-size: 2.5em;
	}

	#startscreen label { 
		text-align: center;
	}

	input[type=text] {
		margin: 15px 0 30px;
		box-shadow: none;
	}

	#timer {
		font-size: 3em;
	}
}

@media screen and (max-width: 380px) {
	
	h1 {
		font-size: 1.9em;
	}

	#timer {
		font-size: 2.2em;
	}
}