<div id="countdown">
	<p class="label">time left:</p>
	<progress-bar ng-cloak></progress-bar>

	<div id="count">	
		<timer id="timer" end-time="input.limitUnix" interval="1000" finish-callback="finished()" ng-model="t" ng-cloak>{{hhours}} : {{mminutes}} : {{sseconds}}</timer>
		
		<p class="label">to complete the task:</p>
		<p id="goal" ng-bind="input.task" ng-cloak></p>
	</div>

	<div class="controls">
		<button type="button" class="completed" ng-click="finished($event)">Completed</button>

		<button type="button" class="cancel" value="Cancel" ng-click="cancel()">Cancel</button>
	</div>
</div>