<div id="countdown">
	<div id="progress-outer">
		<div id="progress-bar"></div>				
	</div>

	<div id="count">
		<!-- <span id="timer" ng-bind="input.limit"></span> -->

		<timer id="timer" end-time="input.limitUnix">{{hhours}} : {{mminutes}} : {{sseconds}}</timer>
		
		<span id="goal" ng-bind="input.task"></span>
	</div>

	<div id="trigger">
		<label for="completed">Completed the task?</label>
		<input type="checkbox" id="completed">
	</div>

	<input type="button" id="cancel" value="Cancel">
</div>